*
{
	margin: 0;
}
body
{
 margin:0 auto;
 padding:0px;
 font-family:arial;
 background-color:lightskyblue;
}
#content
{
    height:100%;
}
#title
{
    
}
#welkom
{
    height:500px;
    width:500px;
    padding-top:300px;
    padding-left:500px
}  
#header
{
    height:100px;
    background-color: black;
    float:none
}

#rssfeed

{
 text-align:center;
 width:500px;
}
#rssfeed h1
{
 margin-top:100px;
 font-size:40px;
}
#rssfeed h1 p
{
 font-size:17px;
}
#rssfeed #feed_div
{
 background-color:white;
 width:750px;
 height:650px;
 overflow-y:scroll;
 margin-left:120%;
 margin-top:100px;
 text-align:left;
 border:1px solid silver;
 padding:10px;
}
#rssfeed #feed_div h2
{
 font-size:17px;
}
#rssfeed #feed_div .title a
{
 text-decoration:none;
 color:#0080FF;
}
.navblock
{
    width: 100%;
	margin-top: 100%;
	position: fixed;
	top: 0;
    margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
    color: black;
	background-color: black;
	text-align: center;
	z-index: 1;
}
.navblock p
{
	display: inline-block;
}
.navblock ul li
{
	display: inline-block;
	list-style-type: none;
}
.navblock a
{
	padding-right: 25px;
	padding-left: 25px;
	color: white;
	text-decoration: none;
}
.navblock a:hover
{
	color:yellow;
}
.navblock a:active
{
	color:red;
}